.project_div{
    background-color: black;
    padding-top: 80px;
    margin-bottom: 20px;
}

.proj_div{
    height: 28rem;
    width: 22rem;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 40px;
    transition: 0.2s ease-in-out;
}

.project_hover{
    border: 1px solid #E81748;
    height: 26rem;
    width: 20rem;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    
}

.project_img:hover, .project_hover:hover{
    opacity: 1;
    height: 20rem;
    width: 21rem;
    margin: 55px 50px;
    border-radius: 20px;
    transform: translateZ(60px);
}

.proj_item__img{
    height: 28rem;
    width: 22rem;
    z-index: 5;
    border-radius: 20px;
}

.project_cards{
    margin: 0 110px;
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    cursor: pointer;
}

.parallax-effect{
    transform-style: preserve-3d;
}

.proj_info{
    position: absolute;
    z-index: 10;
    top: 0;
    color: white;
    padding: 30px;
}

